<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.edu.javaBean.User">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="UserName" jdbcType="VARCHAR" property="username" />
    <result column="Password" jdbcType="VARCHAR" property="password" />
    <result column="RealName" jdbcType="VARCHAR" property="realname" />
    <result column="UseType" jdbcType="INTEGER" property="usetype" />
    <result column="DocTitleID" jdbcType="INTEGER" property="doctitleid" />
    <result column="IsScheduling" jdbcType="CHAR" property="isscheduling" />
    <result column="DeptID" jdbcType="INTEGER" property="deptid" />
    <result column="RegistLeID" jdbcType="INTEGER" property="registleid" />
    <result column="DelMark" jdbcType="INTEGER" property="delmark" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, UserName, Password, RealName, UseType, DocTitleID, IsScheduling, DeptID, RegistLeID, 
    DelMark
  </sql>
  <!--登录-->
  <select id="userLogin" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    where username=#{uname} and password=#{upass}
  </select>
<!-- 查询用户列表-->
  <select id="getAllUsers" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user
    where DelMark=1
    <if test="keywords!=null and keywords!=''">
    and (UserName like '%${keywords}%' or RealName like '%${keywords}%')
    </if>
  </select>


  <select id="selectByPrimaryKey" parameterType="Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer">
    delete from t_user
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edu.javaBean.User">
    insert into t_user (ID, UserName, Password, 
      RealName, UseType, DocTitleID, 
      IsScheduling, DeptID, RegistLeID, 
      DelMark)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{realname,jdbcType=VARCHAR}, #{usetype,jdbcType=INTEGER}, #{doctitleid,jdbcType=INTEGER}, 
      #{isscheduling,jdbcType=CHAR}, #{deptid,jdbcType=INTEGER}, #{registleid,jdbcType=INTEGER}, 
      #{delmark,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.edu.javaBean.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="username != null">
        UserName,
      </if>
      <if test="password != null">
        Password,
      </if>
      <if test="realname != null">
        RealName,
      </if>
      <if test="usetype != null">
        UseType,
      </if>
      <if test="doctitleid != null">
        DocTitleID,
      </if>
      <if test="isscheduling != null">
        IsScheduling,
      </if>
      <if test="deptid != null">
        DeptID,
      </if>
      <if test="registleid != null">
        RegistLeID,
      </if>
      <if test="delmark != null">
        DelMark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="usetype != null">
        #{usetype,jdbcType=INTEGER},
      </if>
      <if test="doctitleid != null">
        #{doctitleid,jdbcType=INTEGER},
      </if>
      <if test="isscheduling != null">
        #{isscheduling,jdbcType=CHAR},
      </if>
      <if test="deptid != null">
        #{deptid,jdbcType=INTEGER},
      </if>
      <if test="registleid != null">
        #{registleid,jdbcType=INTEGER},
      </if>
      <if test="delmark != null">
        #{delmark,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edu.javaBean.User">
    update t_user
    <set>
      <if test="username != null">
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        Password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realname != null">
        RealName = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="usetype != null">
        UseType = #{usetype,jdbcType=INTEGER},
      </if>
      <if test="doctitleid != null">
        DocTitleID = #{doctitleid,jdbcType=INTEGER},
      </if>
      <if test="isscheduling != null">
        IsScheduling = #{isscheduling,jdbcType=CHAR},
      </if>
      <if test="deptid != null">
        DeptID = #{deptid,jdbcType=INTEGER},
      </if>
      <if test="registleid != null">
        RegistLeID = #{registleid,jdbcType=INTEGER},
      </if>
      <if test="delmark != null">
        DelMark = #{delmark,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edu.javaBean.User">
    update t_user
    set UserName = #{username,jdbcType=VARCHAR},
      Password = #{password,jdbcType=VARCHAR},
      RealName = #{realname,jdbcType=VARCHAR},
      UseType = #{usetype,jdbcType=INTEGER},
      DocTitleID = #{doctitleid,jdbcType=INTEGER},
      IsScheduling = #{isscheduling,jdbcType=CHAR},
      DeptID = #{deptid,jdbcType=INTEGER},
      RegistLeID = #{registleid,jdbcType=INTEGER},
      DelMark = #{delmark,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="deleteUserById" parameterType="int">
     update t_user set DelMark=0 where id=#{id}
  </update>
</mapper>